<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<title>{{product.name.upper()}}</title>
</head>
<body class="container">
	<h1>{{product.name.upper()}}</h1>
	<a class="btn btn-info btn-lg" onclick="like_it()">
          <span class="glyphicon glyphicon-thumbs-up"></span> Like
        </a>
        <p><span id="likes">{{product.likes}}</span> likes</p>
        <h2><i>"{{joke}}"</i></h2>

	<img src="{{product.img_url}}"   class="card-img-top" alt="{{product.name}}" style="max-height:50%;">


	
<script type="text/javascript">
	function like_it() {
	document.getElementById('likes').innerHTML = Number(document.getElementById('likes').innerHTML) + 1;
	var req = new XMLHttpRequest();
	req.open("GET", "../like/{{product.id}}", false);
	req.send(null);
	console.log(req.responseText);
	}
</script>
</body>
</html>